//COLORS
$blue: rgb(3, 169, 244);
$indigo: rgb(63, 81, 181);
$red: rgb(244, 67, 54);
$green: rgb(76, 175, 80);
$yellow: rgb(255, 235, 59);
$orange: rgb(255, 152, 0);
$purple: rgb(156, 39, 176);

//SETTINGS
$color-theme: $blue;