@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,
body {
    font-family: 'Montserrat', sans-serif!important;
}

header {
    padding: 16px;
    background-color: $color-theme;
    color: white;

    h1 {
        font-weight: 900;
        margin-bottom: -30px;
    }
}

.hidden {
    visibility: hidden;
    display: none;
}

.shot {
    border-radius: 2px;
    box-shadow: 0 1px 10px rgba($color: #000000, $alpha: 0.11);
    overflow: hidden;
    transition: all .2s ease-in-out;
    
    &:hover {
        box-shadow: 0 1px 10px rgba($color: #000000, $alpha: 0.3)!important;
    }

    &-preview {
        img {
            width: 100%;
        }
    }   

    &-footer {
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-top: -30px;
        width: 100%;
        
        label {
            align-items: center;
            color: $color-theme;
            display: flex;
            cursor: pointer;
            transition: all .2s ease-in-out;
        }
        
        span {
            margin-left: 10px;
            color: black;
        }
        
        
    }
    
    input:checked ~ .shot-content {
        opacity: 1;
        transform: translateX(0)
    }
    
    .shot-content {
        background-color: rgba($color: #000000, $alpha: 0.5);
        display: block;
        height: 100%;
        opacity: 0;
        transition: all .2s;
        transform: translateX(-20px)
    }
        
}

.modal {
    .btn-close {
        color: $red; 
        cursor: pointer; 
        font-size: 5rem; 
        margin-top: 30px;
        right: 5px;
        text-decoration: none; 

        &:hover,
        &:focus {
            color: darken($red, 10%);
        }

        @media (max-width:480px) {
            align-self: flex-end;
        }
    }

      
} 

.modal-wrap {
  &:before {
        content: ''; 
        display:none;
        background: rgba($color: #000000, $alpha: 0.6);
        position:fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 101;
    }
}
    

// Modal Overlay
// -------------------------------------------------- 

.modal-overlay { 
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 102;
}
 

// Modal Open
// -------------------------------------------------- 

.modal-open:checked ~ .modal-wrap {
    &:before,
    & .modal-overlay {
        display: block;
    }

    .modal-dialog { 
        transform: translate(-50%,-50%);
        position: fixed;
        top: 50%;

        @media (max-width:480px) {
            overflow-y: scroll;
            max-height: 100vh;
        }
    }
}
 

// Modal Dialog
// -------------------------------------------------- 

.modal-dialog { 
    background: #fefefe; 
    left: 50%; 
    max-width: 600px; 
    position: fixed; 
    top: -100%; 
    transform: translate(-50%,-150%); 
    transition: .6s ease-in-out;
    width: 80%; 
    z-index: 103;

    @media (max-width:480px) {
        width: 100%;
    }
}

.modal-body { 
    padding: 20px;
 
    p { 
        margin: 0;
    }
}   

.modal-header,
.modal-footer { 
  padding: 10px 20px;
}
 

.modal-header{  
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    
    a {
        text-decoration: none;
    }

    h2 { 
        font-size: 2rem;
        font-weight: 700;
        line-height: 2rem;
        margin-bottom: 5px;
    }

    h4 {
        display: inline-block;
        line-height: 10px;
        margin-left: 10px;
    }

    .author-profile {
        margin-right: 20px;
    }

    .interaction-infos {
        display: flex;

        span {
            align-items: center;
            display: flex;

            strong {
                margin-right: 5px;
            }

            &:first-child {
                margin-right: 20px;
            }
        }

        i {
            margin-right: 10px;
        }
    }

    @media (max-width:480px) {
        flex-flow: column-reverse;
         .author-profile {
             display: none
         }
    }
}
 
.modal-footer { 
    text-align: right;
}
